name: Deploy NestJS API to Elastic Beanstalk

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci --legacy-peer-deps   # or just `npm ci` if deps fixed

      - name: Build NestJS
        run: npm run build

      - name: Zip project
        run: zip -r deploy.zip . -x "*.git*"

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: testyourgerman-flpexam-api
          environment_name: Testyourgerman-flpexam-api-env
          version_label: ${{ github.sha }}
          region: eu-north-1
          deployment_package: deploy.zip
